form {
  display: flex;
  flex-direction: column;
}
input {
  display: block;
}

.userBox {
  background-color: beige;
  width: 30vw;
  margin: 0 10vw;
}

.userbox p {
  background-color: lightcyan;
}

.userBox p:first-child {
  background-color: lightcoral;
}